# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build



# Data folder. I do not have any license to share these files.
data_folder/
# Result folder. Same as Datafolder.
result/


# Java binary files
*.class
*.jar
*.war
*.ear
*.nar


